.newsGallery {
  padding-left: 1rem;
  padding-bottom: 4rem;
}

ol {
  list-style: none;
  counter-reset: num;
}

ol a {
  display: block;
  width: 45rem;
}

.newsItem {
  counter-increment: num;
  padding: 1rem;
  background-color: white;
  width: 45rem;
  margin: 1rem;
  border-radius: 5px;
  border: rgb(130, 130, 130) 2px;
  border-style: solid;
}

.newsItem:hover {
  background-color: rgb(201, 201, 201);
  transform: scale(105%);
}

.newsItem:before {
  content: counter(num) ". ";
}
