.flexSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.articleGallery {
  margin: 2rem;
  padding: 2rem;
  width: auto;
  height: 12rem;
  border-radius: 5px;
  border-radius: 5px;
  border: rgb(162, 162, 162) 2px;
  border-style: solid;
  box-shadow: 0 0 5px rgb(155, 155, 155);
}

.articleGallery p {
  margin-bottom: 1.5rem;
}

@media (max-width: 518px) {
  .articleGallery {
    height: 15rem;
  }
}

@media (max-width: 447px) {
  .articleGallery {
    padding: 1rem;
    width: auto;
  }
}

@media (max-width: 412px) {
  .articleGallery {
    width: 20rem;
    height: 20rem;
  }

  .articleGallery a {
    word-wrap: break-word;
  }
}

@media (max-width: 372px) {
  .articleGallery {
    width: 15rem;
  }
}

@media (max-width: 281px) {
  .articleGallery {
    width: 14rem;
  }
}
