footer {
  height: 1rem;
  background-color: blue;
  position: absolute;
  padding: 1.5rem;
  color: white;
  bottom: 0rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

footer a {
  text-decoration: none;
  color: white;
}
